<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Orders</title>
  </head>
  <body>
    <h1>Orders</h1>

    <form>
      <select name="CustomerId" id="CustomerId">
        <option selected disabled>-- Select Customer --</option>
        <% customers.forEach(el => { %>
        <option value="<%= el.id %>"><%= el.name %></option>
        <% }) %>
      </select>
      <button type="submit">Filter</button>
    </form>

    <br />

    <table border="1">
      <thead>
        <tr>
          <th>No.</th>
          <th>Date</th>
          <th>Product Name</th>
          <th>Product Price</th>
          <th>Quantity</th>
          <th>Customer</th>
        </tr>
      </thead>

      <tbody>
        <% orders.forEach((el, index) => { %>
        <tr>
          <td><%= ++index %></td>
          <td><%= el.formattedDate %></td>
          <td><%= el.productName %></td>
          <td><%= el.priceInRupiah %></td>
          <td><%= el.quantity %></td>
          <td><%= el.customerName %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
